<header>

  <div class="navbar navbar-dark bg-dark shadow-sm">
      <div class="container d-flex justify-content-between">
          <a href="#" class="navbar-brand d-flex align-items-center">
              <i class="fas fa-fish fa-lg mr-2"></i>
              <strong>Peixe Urbano</strong>
          </a>

          <form>
            <input class="form-control" type="search" placeholder="Buscar" #termoPesquisa (keyup)="pesquisa(termoPesquisa.value)">
            <ul class="list-group">
              <li class="list-group-item" *ngFor="let oferta of ofertasResult">{{ oferta.titulo }}</li>
            </ul>
          </form>

        <i class="fas fa-shopping-cart fa-lg"></i>
      </div>
  </div>

  <section class="jumbotron text-center">
    <div class="container">
        <p>
            <a [routerLink]="['/restaurants']" routerLinkActive="active" class="btn btn-primary my-2 mr-3">Restaurantes</a>
            <a [routerLink]="['/fun']" routerLinkActive="active" class="btn btn-primary my-2">Diversão</a>
        </p>
        <p>Aproveite as Ofertas que separamos para você!</p>

    </div>
</section>

</header>
