<main role="main">

  <section class="jumbotron text-center">
      <div class="container">
          <p>
              <a href="#" class="btn btn-primary my-2 mr-3">Restaurantes</a>
              <a href="#" class="btn btn-secondary my-2">Diversão</a>
          </p>
          <p>Aproveite as Ofertas que separamos para você!</p>

      </div>
  </section>

  <div class="album py-5 bg-light">
      <div class="container">

            <div>
                <div class="col-4" style="float: left">
                    <div class="card">
                        <img src="">
                        <div class="card-body">
                            <h3></h3>
                            <p class="card-text"></p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Ver Oferta</button>
                                </div>
                                <small class="text-muted"></small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

      </div>
  </div>

</main>
